<h1>Pool Pump Controller</h1>
<hr>
<!--<div class="row"-->
<!--     *ngIf="!editPoolConfigurationMode">-->
<!--  <div class="col-12">-->
<!--    <div class="d-flex justify-content-center">-->
<!--      <a class="btn btn-primary" (click)="onEditPoolConfiguration()">Edit Pool Configuration</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row" style="margin-top: 50px">-->
<!--  <div class="col-12">-->
<!--    <div class="d-flex justify-content-center">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <app-pump-controller-dashboard></app-pump-controller-dashboard>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


