<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RaspberryPiControlHubUi</title>
  <base href="control-hub-frontend">  <script type="text/javascript">
    var baseUrl = "http://{{ansible_host}}:8081/control-hub-backend/pump-controller"
    window.baseUrl = baseUrl;
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.0ee7ad93d84b65ac3020.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.0dae8cbc97194c7caed4.js" type="module"></script><script src="runtime-es5.0dae8cbc97194c7caed4.js" nomodule defer></script><script src="polyfills-es5.2237b5d0d7a85091411d.js" nomodule defer></script><script src="polyfills-es2015.f332a089ad1600448873.js" type="module"></script><script src="main-es2015.015c7f91d2206b92ed98.js" type="module"></script><script src="main-es5.015c7f91d2206b92ed98.js" nomodule defer></script></body>
</html>
